
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*vue*/
[v-cloak] { display: none; }


html{
   font-size:62.5%;  /* =10px */
}

body{
	background-color:#f4f1f1; /* HEX */
}


header{
	font-size: 1.8rem;
	font-family: 'Pacifico', cursive;
}

header .author{
	font-size: 1.5rem;
}

header .author a{
	text-decoration: none;
}

header , .calculator {
	margin: 2.5rem auto;
	text-align: center;
}

.calculator{
	border: 0.8rem solid #f67373;
	width: 34rem;
	height: 40rem;
	background-color: #f28080;
	font-size: 1.6rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	border-radius: 1rem;: 
	-webkit-box-shadow: 1rem 1rem 0.5rem #ccc;
	box-shadow: 1rem 1rem 0.5rem #ccc;
	
}

.calculator .calculator-border .calculator-display{
	border: 0.15rem solid #b9b4b4;
	background-color: #f5f8f8;
	margin:1rem;
	/*width: 24rem;*/
	height: 7rem;
	width: 92.3%;
	font-size: 2rem;
	/*height:18.4%;*/
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-ms-border-radius: 0.4rem;
	-o-border-radius: 0.4rem;
	border-radius: 0.4rem;: 
	-webkit-box-shadow: 1rem 1rem 0.5rem #b55858;
	box-shadow: 0.1rem 0.1rem 0.5rem #b55858;
}

.calculator .calculator-border .calculator-formula{
	/*border: 1px solid red;*/
	width: 100%;
	height: 42.9%;
	text-align: right;
	box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: #ce3b3b;
}

.calculator .calculator-border .calculator-result{
	/*border: 1px solid blue;*/
	width: 100%;
	height: 57.1%;
	text-align: right;
	box-sizing: border-box;
    padding: 1.5rem 1rem;
    color: #2A363B;
}

.calculator .calculator-border .calculator-items{
	/*border: 1px solid black;*/
	margin:3rem 1rem;
	text-align: left;
	width: 92.3%;
	height: auto;
}

.calculator .calculator-border .calculator-items .calculator-row-1,
.calculator .calculator-border .calculator-items .calculator-row-2,
.calculator .calculator-border .calculator-items .calculator-row-3,
.calculator .calculator-border .calculator-items .calculator-row-4,
.calculator .calculator-border .calculator-items .calculator-row-5{
	/*border: 1px solid blue;*/
	margin-bottom: 2.3%;
	width: 100%
}

.calculator .calculator-border .calculator-items .calculator-item{
	border: 0.1rem solid rgba(166, 98, 98, 0.74);
	width: 16.666%;
	height: 4rem;
	display: inline-block;
	text-align: center;
	line-height: 4rem;
    margin-right: 2.3%;
    color: #2a363b;
    cursor: pointer;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-radius: 0.5rem;: 
    background-color: rgba(244, 135, 135, 0.78);
    -webkit-box-shadow: 0.1rem 0.1rem 0.3rem rgb(85, 65, 65);
	box-shadow: 0.1rem 0.1rem 0.3rem rgb(85, 65, 65);
	transition: all 0.1s;
	-webkit-transition: all 0.1s;

}

.calculator .calculator-border .calculator-items .calculator-item:hover{
	color: #f1f5f7;
	-webkit-box-shadow: 0.3rem 0.3rem 0.5rem #b55858;
	box-shadow: 0.3rem 0.3rem 0.5rem #b55858;

}

.calculator .calculator-border .calculator-items .calculator-item:active{
	transform: translate(0.05rem,0.05rem);
	-moz-transform: translate(0.05rem,0.05rem);
    -webkit-transform: translate(0.05rem,0.05rem);
    
}



.calculator .calculator-border .calculator-row-5 .calculator-item:nth-child(odd){
	width: 37.2%;

}

.calculator .calculator-border .calculator-row-1 .calculator-item:nth-child(5),
.calculator .calculator-border .calculator-row-2 .calculator-item:nth-child(5),
.calculator .calculator-border .calculator-row-3 .calculator-item:nth-child(5),
.calculator .calculator-border .calculator-row-4 .calculator-item:nth-child(5) ,
.calculator .calculator-border .calculator-row-5 .calculator-item:nth-child(3){
	margin-right: 0;

}





